

//     font-family: 'Lato', sans-serif;

//    font-family: 'Pompiere', cursive;

// header


.blogHeader {
    height: 90vh;
    background-image: url(./assets/blog-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titleBlog {
    height: 50vh;
    width: 100%;
}

// main

.blogMain {
    background-color: #fae5ff;
}

.blogFlex {
    display: flex;
   
}

.blogContent {
    flex: .60;
}


.blogContentImage {
    width: 100%;
    position: relative;
    bottom: 200px;
    left: 260px;
    box-shadow: -40px 40px #fe6f19;
}


.blogAside {
    flex: .40;
}

.blogAsideDiv {
    width: 60%;
    background-color: #ffffff;
    margin-top: 200px;
}

.asideHeading {
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #4C0341; 
    padding-top: 50px;
    padding-left: 20px;
}

ol {
    list-style-type: disc;
}

.asideLi {
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.asideP {
    padding-left: 20px;
}

.blogContentText{
    width: 105%;
    background-color: #ffffff;
    position: relative;
    bottom: 160px;
    left: 220px;
}

.blogH5 {
    color: #4c0341;
    margin-left: 50px;
    
}

.blogPara {
    margin-top: 0;
    margin-left: 50px;
}

.blogP {
    margin-right: 30px;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 50px;
}
