@use 'variables';


//     font-family: 'Lato', sans-serif;

//    font-family: 'Pompiere', cursive;


// Header Nav Bar

.indexHeader {
    height: 90vh;
    background-image: url(./assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



// Header title

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.title {
    height: 500px;
    width: 400px;
}

.floatingPicture {
    height: 1100px;
    width: 900px;
    display: inline-block;
    position: relative;
    left: 380px;
}

// What's under the sea section

.sea {
    height: 90vh;
    background-color: #fae5ff;
}

.seaText {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seaH2 {
    font-family: 'Pompiere', cursive;
    font-weight: 500;
    font-size: 2.6rem;
    text-transform: uppercase;
}

.seaButton {
    background-color: #4C0341;    
    width: 250px;
    height: 50px;
}

// New Additions

.additions {
    height: 90vh;
}

.additionsFlex1 {
    display: flex;
    justify-content: space-between;
}


.additionTextBox1 {
    height: 300px;
    width: 500px;
    margin-right: 60px;
    margin-top: 90px;
    text-align: left;
    position: relative;
    left: 100px;
}

.additionImgBox1 {
    display: inline-block;
    height: 400px;
    width: 750px;
    box-shadow: 40px 40px #FE6F19;
    position: relative;
    bottom: 40px;
    right: 270px;
}

.additionButton {
    background-color: #882C07;
    width: 150px;
    height: 50px;
}

.additionsFlex2 {
    display: flex;
    justify-self: space-between;
}

.additionTextBox2 {
    height: 400px;
    width: 600px;
    margin-top: 90px;
    text-align: right;
    position: relative;
    right: 100px;
    top: 25px;
}

.additionImgBox2 {
    display: inline-block;
    height: 450px;
    width: 700px;
    box-shadow: -40px 40px #FE6F19;
    position: relative;
    left: 370px;
    top: 100px;
    
}

// location sections

.locations {
    height: 85vh;
    background-color: #fae5ff;
}

.locationList {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.locationDiv {
    width: 35vw;
}

.listMargin {
    margin-top: 200px;
}

// Banner

.banner {
    height: 60vh;
    background-position: center;
}

// Popular

.popular {
    height: 45vh;
}

.popularFlex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.imagePopular {
    height: 25%;
    width: 25%;
    margin-right: 120px;
    box-shadow: 40px 40px #FE6F19;
}

.popularButton {
    background-color: #882C07;
    width: 220px;
    height: 50px;
}

.popularText {
    width: 50vw;
}

// Gallery

.gallery {
    background-color: #fae5ff;
    height: 60vh;
}

.galleryFlex {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: no wrap;
}

.ulPopular {
    height: 100%;
}

.galleryLi {
   height: 70%;
   margin-top: 80px;
   margin-right: 30px;;
}



